*{ 
  margin: 0; 
} 
nav{ 
  background-color: grey; height: 75px; 
} 
.navigation{ 
  text-align: left; 
} 
main{ 
  border: 2px solid black; 
  height: 1250px; 
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
} 
.innerbox{ 
  border: 2px solid black; 
}
.subbox{
  border: 2px solid red;
  height: 22vh;
  margin: 10px;
}

.subboxsingle{
  border: 2px solid red;
  height: 45vh;
  margin: 10px;

}
