@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


*{ 
  margin: 0; 
} 

.navigation{ 
  text-align: left; 
  color:white;
  padding-top: 20px;
} 
main{ 
  /* height: 1250px;  */
  height: 100vh;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-template-rows: 1fr 1fr;
} 

.subbox{
  background-color: rgb(0, 0, 0, .5);
  height: 23.2vh;
  margin: 10px;
  color:rgb(0, 0, 0);
  border-radius: 20px;
  box-shadow: 5px 5px 1px 1px black;
  text-align: center;
  overflow: hidden;
}     

.subboxsingle{
  height: 47vh;
  margin: 10px;
  color:rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, .5);
  border-radius: 20px;
  box-shadow: 5px 5px 1px 1px black;
  color: white;
}
.subboxsinglesports{
  height: 45vh;
  margin: 10px;
  color:rgb(0, 0, 0);
  background-color: rgb(0, 0, 0, .5);
  border-radius: 20px;
  box-shadow: 5px 5px 1px 1px black;
  overflow: hidden;

}
.sportsnav{
  border-radius: 20px;
  height: 3vh;
  text-align: center;
}
.sportgenre{
  height: 88%;
  overflow: hidden;
  scroll-behavior: smooth;
}
.sportsnav a{
  margin: 5px;
  font-family: 'Bebas Neue', cursive;
  font-size: 30px;
  color: white;
}


#stocks {
  height:fit-content;
}
.css-12zx21b .rw-container-right {
  background-color: rgba(0, 0, 0, 0) !important;
  width: 40%;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}
.css-12zx21b .rw-container-header {
  margin: 0px 0px 10px;
  font-weight: bold !important;
  font-size: x-large;
  letter-spacing: 2px;
}
.css-ey6yfu .rw-forecast-date {
  color: rgb(255, 255, 255);
  font-size: 15px !important;
  font-weight: bold !important;
}
.css-ey6yfu .rw-forecast-desc {
  color: rgb(255, 255, 255);
  margin: 10px 0px;
  font-size: 15px !important;
  font-weight: bold !important;
}
.css-ey6yfu .rw-forecast-range {
  color: rgb(255, 255, 255);
  font-size: 15px !important;
  font-weight: bold !important;
}
.searchnav{
  padding: 10px;
  text-align: center;
}
.weatherbox{
  height: 40vh;
  margin: 10px;
  position: relative;
}
.css-12zx21b .rw-container-main {
  color: rgb(255, 255, 255);
  font-weight: bold !important;
  height: 100%;
  width: 100%;
  display: flex;
  border-radius: 5px;
}
.css-12zx21b {
  font-family: Helvetica, sans-serif;
  font-weight: bold !important;
  font-size: 13px;
  border-radius: 0px 0px 5px 5px;

}
.innerbox{
  /* overflow: hidden; */
  border-radius: 40px;
}




