h1, h3 {
    text-align: center;
}

a {
    background-color: rgb(38, 28, 28);
    color: white;
}

a:visited {
    color: rgb(158, 158, 158);
  }
  
a:hover {
    color: rgb(10, 178, 52);
  }
  
a:active {
    color: rgb(0, 0, 0);
  }